@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


body{
	font-family: 'Roboto';
	font-weight: normal;
	background: #1D1630;
	color: white;
	margin: 30px;
	overflow-x: hidden;
}
table{
	width: 100%;
	empty-cells: show;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    vertical-align: middle;
		background: transparent;
		border-spacing: 0;
}
td{
}

.hidden{
    display: none !important;
}

.hindrance-desc, .edge-desc{
	font-size: 12px;
	text-align: justify;
}

.button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #5E4B8C;
	display: inline-block;
	border: 2px solid #5E4B8C;
}
.button:hover{
	border: 2px solid #E8338A;
	background: #E8338A;
	color: white;
}

#character-rightpane{
	vertical-align: top;
	padding-top: 13px;
}

#popup{
	background: rgba(0,0,0,0.7);
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#popup>div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}
#popup>div>div, #popup>div>table{
	background: #1D1630;
	width: auto;
	display: inline-block;
	padding: 20px;
	border: 2px solid white;
}

#wound-table>*{
	text-align: center;
}
.wound-cell:hover{
	background: #AF155A;
	cursor: pointer;
}

.hindrance-selector-desc, .edge-selector-desc{
	font-size: 12px;
}
#hindrance-select-wrapper{
	overflow-y: scroll;
	height: 300px;
}
.hindrance-select-row:hover{
	background: pink;
	cursor: pointer;
}
#hindrance-null, #edge-null{
	color: white;
}

#edge-selector-wrapper{
	overflow-y: scroll;
	max-height: 300px;
}
#edge-table{
	border-collapse: separate;
}
#edge-table td{
	box-sizing: border-box;
}
#edge-table th{
	position: sticky;
	top:0px;
	background:grey;
}
#edge-table tr:hover{
	background:pink;
	cursor: pointer;
}

.missing-req{
	color: #5E4B8C !important;
}

/* styling */
#derived-attributes td:first-child, #attributes td:first-child, #skills td:first-child{
	width: 100%;
}
#exp-wrapper td:last-child{
	width: 100%;
	text-align: right;
}
#derived-attributes td, #attributes td, #skills td{
	padding: 3px 0;
}
#derived-attributes, #attributes, #skills{
	padding: 13px 0;
	border-top: 2px solid #292247;
}
#exp-wrapper{
	padding: 13px 0;
}

#wound-table{
	border-top: 2px solid #292247;
}
.wound-cell{
	padding: 20px 10px;
}
.checked-wound{
	background: #E8338A !important;
}


.stat-label{
	color: #E8338A;
}
#edge-wrapper{
	margin-top: 20px;
}
.hecell{
	margin-bottom: 2px;
	background: #5E4B8C;
	padding: 10px 12px;
}
.hecell>div{
	padding-top: 2px;
	opacity: 0.7;
}
.stat-title{
	text-align: left;
	color: #5E4B8C;
	font-weight: normal;
}
.brow{
	white-space: nowrap;
	text-align: right;
}
.brow div{
	margin-top: 10px;
	margin-left: 10px;
}
#exp-wrapper .stat-label{
	margin-right: 5px;
}
#levelup-b{
	margin-left: 10px;
}

/* inventory */
#inv-tabs-wrapper{
	border-bottom: 2px solid #AF155A;
	padding-top: 10px;
}
.inv-tab{
	display: inline-block;
	cursor: pointer;
	padding: 3px 6px;
	border: 2px solid #AF155A;
	border-bottom: 0;
	color: #AF155A;
}
.inv-tab-active{
	background: #AF155A;
	color: white;
}
.item-row{
	position: relative;
	display: flex;
	background: #5E4B8C;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 7px 7px;
	margin-bottom: 2px;
	align-items: center;
}
.item-row:last-child{
	margin-bottom: 0;
}
.item-cell>div:first-child{
	font-size: 12px;
	opacity: 0.7;
}
.item-cell{
	padding: 3px 5px;
}
.inv-cat{
	padding-top: 15px;
	padding-bottom: 5px;
	color: #5E4B8C;
}
.item-brow{
	position: absolute;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
}
.item-brow>div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.item-row:hover .button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #AF155A;
	margin-right: 10px;
	display: inline-block;
	border: 2px solid #AF155A;
}
.item-row:hover .item-brow{
	background: rgba(255, 255, 255, 0.7);
}
.item-row .button{
	display: none;
}
.item-row .button:hover{
	background: #E8338A !important;
	border: 2px solid #E8338A;
	color: white;
	height: auto;
}
.equipped{
	background: #E8338A !important;
}

.mod-slot{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	box-sizing: border-box;
	padding: 2px 3px;
}
.mod-slot:first-child{
	margin-left: 0 !important;
}
.mod-slot-disabled{
	border: 2px dashed white;
	opacity: 0.5;
}
.mod-slot-enabled{
	border: 2px solid white;
	cursor: pointer;
}
.mod-slot-enabled:hover{
	border: 2px solid #E8338A;
}
.mod-empty{
	color: transparent !important;
}

.important-var{
	color: #E8338A;
}

/* popups */
/* item details */
#item-details>div{
	border: 2px solid white;
	padding: 0 !important;
}
#item-details .button{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#item-details-wrapper{
	padding: 10px;
	max-width: 350px;
	text-align: justify;
}
#item-details-wrapper>div{
	margin-top: 10px;
}
#item-details-wrapper>div:first-child{
	margin-left: 10px;
	margin-right: 10px;
	color: #5E4B8C;
}
.details-main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.details-l>div{
	padding: 0 10px;
}
.details-l>div:first-child{
	font-size: 12px;
	opacity: 0.7;
	text-align: left;
}

.details-mods{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 10px;
}
.details-mods>div:first-child{
	border-top: 2px solid #292247;
	padding-top: 10px;
	color: #5E4B8C;
}
.details-mod{
	margin-top: 10px;
}
.details-mod>div:last-child{
	font-size: 12px;
	opacity: 0.7;
	text-align: left;
}

/* Bonus window */
.bonus-cost{
	font-size: 12px;
	color: #5E4B8C;
	text-align: right;
}
#bonus-selector .choice{
	margin-left: 10px;
	margin-bottom: 5px;
}
#bonus-selector td:first-child>.choice{
	margin-right: 0;
}
.bonus-brow{
	text-align: right;
	padding-top: 10px;
}
.bonus-header{
	padding-bottom: 20px;
}

/* XP Selector */
#xp-selector>table{
	padding: 20px;
	border: 2px solid white;
}
#xp-input{
	color: #E8338A;
	margin-right: 10px;
	background: transparent;
	border: 0;
	outline: 0;
	placeholder: "Input XP here";
	text-align: center;
	font-family: inherit;
	font-size: 20px;
	border-bottom:2px solid #E8338A;
	width: 100px;
}
#xp-input::-webkit-input-placeholder{
	color: #E8338A;
}
#xp-selector .brow{
	padding-top: 10px;
}
#xp-selector .button{
	margin-left: 10px;
}

/* Attributes Window */
#attribute-selector table{
	max-width: 250px;
	white-space: nowrap;
}
.attribute-selector-l{
	width: 100%;
	box-sizing: border-box;
	padding:3px 0;
}
.attribute-selector-bcell{
	width: 1px;
}
.attribute-selector-bcell .button{
	font-size: 12px;
}
.selector-title{
	color: #5E4B8C;
	padding-bottom: 10px;
}
#attribute-selector-available{
	color: #E8338A;
}
#attribute-selector-brow>td{
	padding-top: 10px;
	text-align: right;
}
#attribute-selector-brow .button{
	margin-left: 10px;
}

/* level up*/
#level-up .choice{
	margin-right: 10px;
}
#level-up .choice:last-child{
	margin-right: 0;
}

/* skill window */
.changed-l{
	color: #E8338A;
}
.unlearned-l{
	color: #5E4B8C;
}
#skill-selector-brow{
	text-align: right;
}
#skill-selector-brow .button{
	margin-left: 10px;
	margin-top: 10px;
}
.skill-selector-l{
	box-sizing: border-box;
	padding:3px 0;
	padding-right: 10px;
}
#skill-selector-available{
	color: #E8338A;
}
.selector-header-row>td{
	font-size: 12px;
	color: #5E4B8C;
	padding: 0 10px;
}
.selector-header-row>td:first-child{
	padding-left: 0;
}
.selector-change-l{
	text-align: center;
}
.skill-cost{
	text-align: center;
}
.skill-attribute{
	color: #5E4B8C;
}

/* hindrances window */
.he-header{
	margin-bottom: 20px;
}

#hindrance-selector .he-header:first-child{
	margin-bottom: 10px;
}
#hindrance-select>div:not(.table-header):hover{
	background: #E8338A;
	color: white;
}
#hindrance-select>div{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding:5px 10px;
	border-bottom: 2px solid #292247;
}
#hindrance-select>div>div:first-child{
	min-width:130px;
}
#hindrance-select{
	text-align: justify;
}
.table-header{
	border: 2px solid #5E4B8C !important;
	background: #5E4B8C;
	position: sticky;
	top: 0px;
	font-size: 12px !important;
	padding: 3px;
	font-weight: normal;
	text-align: left !important;
}
.header-sublabel{
	opacity: 0.5;
}
.row-sublabel{
	color: #5E4B8C;
}
#hindrance-select>div:not(.table):hover .row-sublabel{
	color: rgba(255, 255, 255, 0.5);
}

.selector-brow{
	margin-top: 10px;
	text-align: right;
}
.selector-brow .button{
	margin-left: 10px;
}

#hindrance-selector-step2>div:first-child{
	margin-bottom: 10px;
}

/* edges window */
#edge-table>div{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding:5px 10px;
	border-bottom: 2px solid #292247;
}
#edge-table>div>div:first-child{
	min-width:130px;
	max-width:130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0px;
}
#edge-table>div>div:nth-child(2){
	min-width:30px;
	text-align: center;
}
#edge-table>div>div:nth-child(3){
	min-width:150px;
	max-width:150px;
	font-size: 12px;
}
#edge-table>div>div{
	padding: 0 10px;
}
#edge-table{
	text-align: justify;
}

#edge-table>div:not(.table-header):hover{
	background: #E8338A;
	color: white;
	cursor: pointer;
}
#edge-table>div:not(.table-header):hover .missing-req{
	color: rgba(255, 255, 255, 0.5) !important;
}

/* crafting tab */
.craft .item-row{
	cursor: pointer;
}
.craft .item-row:hover{
	background: #E8338A;

}

/* mod application */
#mod-window>div {
	max-width: 400px;
}

#mod-item-list td{
	padding:3px 0;
}
#mod-item-list td:first-child{
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#mod-item-list td:last-child{
	width: 1px !important;
	box-sizing: border-box;
	text-align: right !important;
	white-space: nowrap;
}
.mod-header>th{
	font-weight: normal !important;
	opacity: 0.7;
	text-align: left;
	font-size: 12px;
	padding-bottom: 7px;
}
.mod-header>th:last-child{
	text-align: right;
}

/* Crafting Window */
.craft-header{
	padding-bottom: 10px;
}
.craft-th{
	color: #5E4B8C;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}
.craft-th:last-child{
	padding-left: 10px;
}
.craft-td{
	vertical-align: top;
	font-size: 12px;
	padding-top: 10px;
}
.craft-td:last-child{
	width: 70%;
	padding-left: 10px;
}
.craft-td:first-child{
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* rename */
#rename-window input{
	width: 120px;
	background: none;
	border: none;
	border-bottom: 2px solid #E8338A;
	color: #E8338A;
	outline: none;
	font-size: 16px;
	font-family: inherit;
}
#rename-window input:first-child{
	text-align: right;
}
#rename-window input:nth-child(2){
	width: 80px;
	text-align: center;
}
#rename-window input:focus{
	border-bottom: 2px solid white;
	color: white;
}
.rename-input-row{
	color: #5E4B8C;
	font-size: 25px !important;
	font-weight: bold;
}

/* sending */
#item-send-code{
	margin:0;
	width: 300px;
	height: 200px;
	word-break: break-all;
	overflow-wrap: break-word;
	background: none;
	outline: none;
	border: 2px solid #5E4B8C;
	color: #5E4B8C;
	padding: 10px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	text-align: left;
}

/* importing code */
#item-importer input{
	background: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #E8338A;
	color: #E8338A;
	font-family: "Roboto";
	font-size: 12px;
	text-align: center;
	padding-bottom: 2px;
}
#item-importer input:focus{
	border-bottom: 2px solid white;
	color: white;
}
#item-importer input::-webkit-input-placeholder{
	color:#E8338A;
	opacity: 0.7;
}

/* HEADER */
/* name */
#firstname-l, #nickname-l, #lastname-l{
}
#firstname-l{
	margin-right: 5px;
}
#lastname-l{
	margin-left: 5px;
}
#nickname-l{
	margin: 0 5px;
	font-weight: normal;
}
.name-cell{
	position: relative;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	z-index: 0;
	padding-bottom: 30px;
}
.name-cell:before{
	z-index: -1;
	background: #E8338A;
	color: transparent;
	content: ".";
	position: absolute;
	top:0;
	bottom:0;
	right:-35px;
	left:-35px;
}

#character-rightpane{
	padding-top: 30px;
}
#left-pane{
	padding-top: 17px;
	padding-right: 20px;
	width: 220px;
}

/* menu */
.menu-cell{
	position: relative;
	text-align: center;
	padding-bottom: 20px;
}
.menu-cell:before{
	z-index: -1;
	background: #E8338A;
	color: transparent;
	content: ".";
	position: absolute;
	top:-35px;
	bottom:0;
	right:-35px;
	left:-35px;
}
.menu-cell .button{
	margin-left: 10px;
	border: 2px solid #AF155A;
	color: #AF155A;
	margin-top: 10px;
}
.menu-cell .button:hover{
	background: white;
	color: #AF155A;
	border: 2px solid white;
}

/* equipment */
.equipment-cell>div{
	max-width: 150px;
	border-right: 2px solid #E8338A;
	padding: 0 10px; 
	text-align: right;
}
.equipment-cell{
	position: sticky;
	top: 0px;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}
.equipment-cell:before{
	z-index: -1;
	background: #AF155A;
	color: transparent;
	content: ".";
	position: absolute;
	top:0;
	bottom:0;
	right:-35px;
	left:-35px;
}
.ec-header{
	color: rgb(255, 138, 210);
}
.eq-mod{
	font-size: 12px;
	background: white;
	color: #AF155A;
	margin-top: 2px;
	padding: 5px;
}

/* tooltips */
.tippy-tooltip{
	background: white;
	color: #292247;
	border-radius: 0;
}
.tippy-popper[x-placement^=right] .tippy-arrow{
	border-right-color: white;
}
.tippy-popper[x-placement^=left] .tippy-arrow{
	border-left-color: white;
}
.tippy-popper[x-placement^=top] .tippy-arrow{
	border-top-color: white;
}
.tippy-popper[x-placement^=bottom] .tippy-arrow{
	border-bottom-color: white;
}