@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


body{
	font-family: 'Roboto';
	font-weight: normal;
	background: #296190;
	color: white;
	margin: 30px;
}
table{
	width: 100%;
	empty-cells: show;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    vertical-align: middle;
		background: transparent;
		border-spacing: 0;
}
td{
}

.hidden{
    display: none !important;
}

.hindrance-desc, .edge-desc{
	font-size: 12px;
	text-align: justify;
}

.button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #6FA8D5;
	display: inline-block;
	border: 2px solid #6FA8D5;
}
.button:hover{
	border: 2px solid #FF28AE;
	background: #FF28AE;
	color: white;
}

#character-rightpane{
	vertical-align: top;
	padding-top: 13px;
}

#popup{
	background: rgba(0,0,0,0.7);
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#popup>div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}
#popup>div>div, #popup>div>table{
	background: #296190;
	width: auto;
	display: inline-block;
	padding: 20px;
	border: 2px solid white;
}

#wound-table>*{
	text-align: center;
}
.wound-cell:hover{
	background: #C72376;
	cursor: pointer;
}

.hindrance-selector-desc, .edge-selector-desc{
	font-size: 12px;
}
#hindrance-select-wrapper{
	overflow-y: scroll;
	height: 300px;
}
.hindrance-select-row:hover{
	background: pink;
	cursor: pointer;
}
#hindrance-null, #edge-null{
	color: white;
}

#edge-selector-wrapper{
	overflow-y: scroll;
	max-height: 300px;
}
#edge-table{
	border-collapse: separate;
}
#edge-table td{
	box-sizing: border-box;
}
#edge-table th{
	position: sticky;
	top:0px;
	background:grey;
}
#edge-table tr:hover{
	background:pink;
	cursor: pointer;
}

.missing-req{
	color: #6FA8D5 !important;
}

/* styling */
#derived-attributes td:first-child, #attributes td:first-child, #skills td:first-child{
	width: 100%;
}
#exp-wrapper td:last-child{
	width: 100%;
	text-align: right;
}
#derived-attributes td, #attributes td, #skills td{
	padding: 3px 0;
}
#derived-attributes, #attributes, #skills{
	padding: 13px 0;
	border-top: 2px solid #03487F;
}
#exp-wrapper{
	padding: 13px 0;
}

#wound-table{
	border-top: 2px solid #03487F;
}
.wound-cell{
	padding: 20px 10px;
}
.checked-wound{
	background: #FF28AE !important;
}

#left-pane{
	padding-right: 20px;
}

.stat-label{
	color: #FF28AE;
}
#edge-wrapper{
	margin-top: 20px;
}
.hecell{
	margin-bottom: 2px;
	background: #6FA8D5;
	padding: 10px 12px;
}
.hecell>div{
	padding-top: 2px;
	opacity: 0.7;
}
.stat-title{
	text-align: left;
	color: #6FA8D5;
	font-weight: normal;
}
.brow{
	white-space: nowrap;
	text-align: right;
}
.brow div{
	margin-top: 10px;
	margin-left: 10px;
}
#exp-wrapper .stat-label{
	margin-right: 5px;
}
#levelup-b{
	margin-left: 10px;
}

/* inventory */
#inv-tabs-wrapper{
	border-bottom: 2px solid #03487F;
	padding-top: 10px;
}
.inv-tab{
	display: inline-block;
	cursor: pointer;
	padding: 3px 6px;
	border: 2px solid #03487F;
	border-bottom: 0;
	color: #03487F;
}
.inv-tab-active{
	background: #03487F;
	color: white;
}
.item-row{
	position: relative;
	display: flex;
	background: #6FA8D5;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 7px 7px;
	margin-bottom: 2px;
	align-items: center;
}
.item-row:last-child{
	margin-bottom: 0;
}
.item-cell>div:first-child{
	font-size: 12px;
	opacity: 0.7;
}
.item-cell{
	padding: 3px 5px;
}
.inv-cat{
	padding-top: 15px;
	padding-bottom: 5px;
	color: #6FA8D5;
}
.item-brow{
	position: absolute;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
}
.item-brow>div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.item-row:hover .button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #C72376;
	margin-right: 10px;
	display: inline-block;
	border: 2px solid #C72376;
}
.item-row:hover .item-brow{
	background: rgba(255, 255, 255, 0.7);
}
.item-row .button{
	display: none;
}
.item-row .button:hover{
	background: #FF28AE !important;
	border: 2px solid #FF28AE;
	color: white;
	height: auto;
}
.equipped{
	background: #FF28AE !important;
}

.mod-slot{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	box-sizing: border-box;
	padding: 2px 3px;
}
.mod-slot:first-child{
	margin-left: 0 !important;
}
.mod-slot-disabled{
	border: 2px dashed white;
	opacity: 0.5;
}
.mod-slot-enabled{
	border: 2px solid white;
	cursor: pointer;
}
.mod-slot-enabled:hover{
	border: 2px solid #FF28AE;
}
.mod-empty{
	color: transparent !important;
}

.important-var{
	color: #FF28AE;
}

/* popups */
/* item details */
#item-details>div{
	border: 2px solid white;
	padding: 0 !important;
}
#item-details .button{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#item-details-wrapper{
	padding: 10px;
	max-width: 350px;
	text-align: justify;
}
#item-details-wrapper>div{
	margin-top: 10px;
}
#item-details-wrapper>div:first-child{
	margin-left: 10px;
	margin-right: 10px;
	color: #6FA8D5;
}
.details-main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.details-l>div{
	padding: 0 10px;
}
.details-l>div:first-child{
	font-size: 12px;
	opacity: 0.7;
	text-align: left;
}

.details-mods{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 10px;
}
.details-mods>div:first-child{
	border-top: 2px solid #03487F;
	padding-top: 10px;
	color: #6FA8D5;
}
.details-mod{
	margin-top: 10px;
}
.details-mod>div:last-child{
	font-size: 12px;
	opacity: 0.7;
	text-align: left;
}

/* XP Selector */
#xp-selector>table{
	padding: 20px;
	border: 2px solid white;
}
#xp-input{
	color: #FF28AE;
	margin-right: 10px;
	background: transparent;
	border: 0;
	outline: 0;
	placeholder: "Input XP here";
	text-align: center;
	font-family: inherit;
	font-size: 20px;
	border-bottom:2px solid #FF28AE;
	width: 100px;
}
#xp-input::-webkit-input-placeholder{
	color: #FF28AE;
}
#xp-selector .brow{
	padding-top: 10px;
}
#xp-selector .button{
	margin-left: 10px;
}

/* Attributes Window */
#attribute-selector table{
	max-width: 250px;
	white-space: nowrap;
}
.attribute-selector-l{
	width: 100%;
	box-sizing: border-box;
	padding:3px 0;
}
.attribute-selector-bcell{
	width: 1px;
}
.attribute-selector-bcell .button{
	font-size: 12px;
}
.selector-title{
	color: #6FA8D5;
	padding-bottom: 10px;
}
#attribute-selector-available{
	color: #FF28AE;
}
#attribute-selector-brow>td{
	padding-top: 10px;
	text-align: right;
}
#attribute-selector-brow .button{
	margin-left: 10px;
}

/* skill window */
.changed-l{
	color: #FF28AE;
}
.unlearned-l{
	color: #6FA8D5;
}
#skill-selector-brow{
	text-align: right;
}
#skill-selector-brow .button{
	margin-left: 10px;
	margin-top: 10px;
}
.skill-selector-l{
	box-sizing: border-box;
	padding:3px 0;
	padding-right: 10px;
}
#skill-selector-available{
	color: #FF28AE;
}
.selector-header-row>td{
	font-size: 12px;
	opacity: 0.7;
	padding: 0 10px;
}
.selector-header-row>td:first-child{
	padding-left: 0;
}
.selector-change-l{
	text-align: center;
}
.skill-cost{
	text-align: center;
}
.skill-attribute{
	color: #6FA8D5;
}

/* hindrances window */
.he-header{
	margin-bottom: 20px;
}

#hindrance-selector .he-header:first-child{
	margin-bottom: 10px;
}
#hindrance-select>div:not(.table-header):hover{
	background: #FF28AE;
	color: white;
}
#hindrance-select>div{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding:5px 10px;
	border-bottom: 2px solid #03487F;
}
#hindrance-select>div>div:first-child{
	min-width:130px;
}
#hindrance-select{
	text-align: justify;
}
.table-header{
	border: 2px solid #6FA8D5 !important;
	background: #6FA8D5;
	position: sticky;
	top: 0px;
	font-size: 12px !important;
	padding: 3px;
	font-weight: normal;
	text-align: left !important;
}
.header-sublabel{
	opacity: 0.5;
}
.row-sublabel{
	color: #6FA8D5;
}
#hindrance-select>div:not(.table):hover .row-sublabel{
	color: rgba(255, 255, 255, 0.5);
}

.selector-brow{
	margin-top: 10px;
	text-align: right;
}
.selector-brow .button{
	margin-left: 10px;
}

#hindrance-selector-step2>div:first-child{
	margin-bottom: 10px;
}

/* edges window */
#edge-table>div{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding:5px 10px;
	border-bottom: 2px solid #03487F;
}
#edge-table>div>div:first-child{
	min-width:130px;
	max-width:130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0px;
}
#edge-table>div>div:nth-child(2){
	min-width:30px;
	text-align: center;
}
#edge-table>div>div:nth-child(3){
	min-width:150px;
	max-width:150px;
	font-size: 12px;
}
#edge-table>div>div{
	padding: 0 10px;
}
#edge-table{
	text-align: justify;
}

#edge-table>div:not(.table-header):hover{
	background: #FF28AE;
	color: white;
	cursor: pointer;
}
#edge-table>div:not(.table-header):hover .missing-req{
	color: rgba(255, 255, 255, 0.5) !important;
}