body{
	font-family: sans-serif;
}
table{
	width: 100%;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}

.hidden{
    display: none !important;
}

.hindrance-desc, .edge-desc{
	font-size: 12px;
	text-align: justify;
}

.button{
	background: black;
	cursor: pointer;
	color: white;
	display: inline-block;
	border: 1px solid red;
}

#popup{
	background: rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#popup>div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}
#popup>div>div, #popup>div>table{
	background: white;
	width: auto;
	display: inline-block;
}

#wound-table>*{
	text-align: center;
}
.wound-cell:hover{
	background: pink;
	cursor: pointer;
}
.checked-wound{
	background: red !important;
}

.hindrance-selector-desc, .edge-selector-desc, .hindrance-selector-type{
	font-size: 12px;
}
#hindrance-select-wrapper{
	overflow-y: scroll;
	height: 300px;
}
.hindrance-select-row:hover{
	background: pink;
	cursor: pointer;
}
#hindrance-selector-l, #edge-selector-l{
	font-weight: bold;
}
#hindrance-null, #edge-null{
	color: gray;
}

#edge-selector-wrapper{
	overflow-y: scroll;
	max-height: 300px;
}
#edge-table{
	border-collapse: separate;
}
#edge-table td{
	box-sizing: border-box;
}
#edge-table th{
	position: sticky;
	top:0px;
	background:grey;
}
#edge-table tr:hover{
	background:pink;
	cursor: pointer;
}

.missing-req{
	color: red !important;
}