@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


body{
	font-family: 'Roboto';
	font-weight: normal;
	background: #296190;
	color: white;
	margin: 30px;
}
table{
	width: 100%;
	empty-cells: show;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
td{
}

.hidden{
    display: none !important;
}

.hindrance-desc, .edge-desc{
	font-size: 12px;
	text-align: justify;
}

.button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #6FA8D5;
	display: inline-block;
	border: 2px solid #6FA8D5;
}
.button:hover{
	border: 2px solid #FF28AE;
	background: #FF28AE;
	color: white;
}

/*
.button{
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	color: #6FA8D5;
	display: inline-block;
	background: #03487F;
}
.button:hover{
	background: #FF28AE;
	color: white;
}
*/

#popup{
	background: rgba(0,0,0,0.7);
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#popup>div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}
#popup>div>div, #popup>div>table{
	background: #296190;
	width: auto;
	display: inline-block;
}

#wound-table>*{
	text-align: center;
}
.wound-cell:hover{
	background: #C72376;
	cursor: pointer;
}

.hindrance-selector-desc, .edge-selector-desc, .hindrance-selector-type{
	font-size: 12px;
}
#hindrance-select-wrapper{
	overflow-y: scroll;
	height: 300px;
}
.hindrance-select-row:hover{
	background: pink;
	cursor: pointer;
}
#hindrance-selector-l, #edge-selector-l{
	font-weight: bold;
}
#hindrance-null, #edge-null{
	color: white;
}

#edge-selector-wrapper{
	overflow-y: scroll;
	max-height: 300px;
}
#edge-table{
	border-collapse: separate;
}
#edge-table td{
	box-sizing: border-box;
}
#edge-table th{
	position: sticky;
	top:0px;
	background:grey;
}
#edge-table tr:hover{
	background:pink;
	cursor: pointer;
}

.missing-req{
	color: red !important;
}

/* styling */
#derived-attributes td:first-child, #attributes td:first-child, #skills td:first-child{
	width: 100%;
}
#exp-wrapper td:last-child{
	width: 100%;
	text-align: right;
}
#derived-attributes td, #attributes td, #skills td{
	padding: 3px 0;
}
#derived-attributes, #attributes, #skills{
	padding: 13px 0;
	border-top: 2px solid #03487F;
}
#exp-wrapper{
	padding: 13px 0;
}

#wound-table{
	border-top: 2px solid #03487F;
}
.wound-cell{
	padding: 20px 10px;
}
.checked-wound{
	background: #FF28AE !important;
}

#left-pane{
	padding-right: 20px;
}

.stat-label{
	color: #FF28AE;
}
#edge-wrapper{
	margin-top: 20px;
}
.hecell{
	margin-bottom: 2px;
	background: #6FA8D5;
	padding: 10px 12px;
}
.hecell>div{
	padding-top: 2px;
	opacity: 0.7;
}
.stat-title{
	text-align: left;
	color: #6FA8D5;
	font-weight: normal;
}
.brow{
	white-space: nowrap;
	text-align: right;
}
.brow div{
	margin-top: 5px;
}
#exp-wrapper .stat-label{
	margin-right: 5px;
}
#levelup-b{
	margin-left: 5px;
}

/* inventory */
#inv-tabs-wrapper{
	border-bottom: 2px solid #03487F;
	padding-top: 10px;
}
.inv-tab{
	display: inline-block;
	cursor: pointer;
	padding: 3px 6px;
	border: 2px solid #03487F;
	border-bottom: 0;
	color: #03487F;
}
.inv-tab-active{
	background: #03487F;
	color: white;
}
.item-row{
	position: relative;
	display: flex;
	background: #6FA8D5;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 7px 7px;
	margin-bottom: 2px;
	align-items: center;
}
.item-row:last-child{
	margin-bottom: 0;
}
.item-cell>div:first-child{
	font-size: 12px;
	opacity: 0.7;
}
.item-cell{
	padding: 3px 5px;
}
.inv-cat{
	padding-top: 15px;
	padding-bottom: 5px;
	color: #6FA8D5;
}
.item-brow{
	position: absolute;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
}
.item-brow>div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item-row:hover .button{
	cursor: pointer;
	color: white;
	padding: 3px 6px;
	color: #C72376;
	margin-right: 10px;
	display: inline-block;
	border: 2px solid #C72376;
}
.item-row:hover .item-brow{
	background: rgba(255, 255, 255, 0.7);
}
.item-row .button{
	display: none;
}
.item-row .button:hover{
	background: #FF28AE !important;
	border: 2px solid #FF28AE;
	color: white;
	height: auto;
}
.equipped{
	background: #FF28AE !important;
}

.mod-slot{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #6FA8D5;
	box-sizing: border-box;
}
.mod-slot-filled{
	background: #C72376;
}